*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(249, 233, 2);
  min-height: 92vh;
  min-width:100%;
  border-top: 2px solid #2f2f2f;
  padding: 0 10px;
}
.title{
  font-size: 5rem;
  font-weight: bold;
}
.cardList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin:30px auto;
}
.btn-count{
  display: flex;
  margin: 30px 0 0 0;
  gap: 1rem;
}
.btn-handler{
  border: none;
  width:200px;
  height:40px;
  font-size: 1.2rem;
  cursor: pointer;
  color:whitesmoke;
  border:4px solid whitesmoke;
  border-radius: 5px;
  background-color: rgba(198, 45, 45, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.801);
  transition: transform 0.2s ease-in-out;
}
.btn-handler:hover{
  background-color: rgba(198, 45, 45, 0.2);
  transform: scale(1.1);
  color: whitesmoke;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 15px;
}

/* Estilo para la pista (track) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Estilo para el pulgar (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: rgb(205, 73, 38); 
  border-radius: 5px;
}

/* Estilo para el pulgar (thumb) de la barra de desplazamiento cuando se pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 139, 167); 
}